<%- include('../layout/header') %> 
<%- include('../layout/navbar') %>

<div class="container grid grid-cols-12 items-start gap-6 pt-4 pb-16">

  <div class="col-span-3 shadow-lg">
    <div class="px-4 py-3 shadow flex h-48 items-center gap-4">
      <div class="flex-shrink-0">
        <img
          src="    "
          alt="profile"
          class="rounded-full w-24 h-24 border border-gray-200 p-1 object-cover"
        />
      </div>
      <div class="flex-grow">
        <p class="text-gray-600">Hello,</p>
        <h4 class="text-gray-800 font-medium"><%=user.username%></h4>
      </div>
    </div>

    <div
      class="mt-6 bg-white shadow rounded p-4 divide-y divide-gray-200 space-y-4 text-gray-600"
    >
      <div class="space-y-1 pl-8">
        <a
          href="#"
          class="relative text-primary block font-medium capitalize transition"
        >
          <span class="absolute -left-8 top-0 text-base">
            <i class="fa-regular fa-address-card"></i>
          </span>
          Manage account
        </a>
        <a
          href="/account"
          class="relative hover:text-primary block capitalize transition"
        >
          Profile information
        </a>
        <a
          href="/address"
          class="relative hover:text-primary block capitalize transition"
        >
          Manage addresses
        </a>
        <a
          href="/changepassword"
          class="relative hover:text-primary block capitalize transition"
        >
          Change password
        </a>
      </div>

      <div class="space-y-1 pl-8 pt-4">
        <a
          href="/orderlist"
          class="relative hover:text-primary block font-medium capitalize transition"
        >
          <span class="absolute -left-8 top-0 text-base">
            <i class="fa-solid fa-box-archive"></i>
          </span>
          My order history
        </a>
      </div>

      <div class="space-y-1 pl-8 pt-4">
        <a
          href="#"
          class="relative hover:text-primary block font-medium capitalize transition"
        >
          <span class="absolute -left-8 top-0 text-base">
            <i class="fa-regular fa-credit-card"></i>
          </span>
          Payment methods
        </a>
        <a
          href="#"
          class="relative hover:text-primary block capitalize transition"
        >
          voucher
        </a>
      </div>

      <div class="space-y-1 pl-8 pt-4">
        <a
          href="/logout"
          class="relative hover:text-primary block font-medium capitalize transition"
        >
          <span class="absolute -left-8 top-0 text-base">
            <i class="fa-regular fa-arrow-right-from-bracket"></i>
          </span>
          Logout
        </a>
      </div>
    </div>
  </div>

  <div class="col-span-9 shadow-lg rounded px-6 pt-5 pb-7 ">
    <h4 class="text-lg font-medium capitalize mb-4">Profile information</h4>

    <div class="flex ml-10 mb-6">
      <div class="relative">
        <img
          src="path/to/profile/photo.jpg"
          alt="profile"
          class="rounded-full w-20 h-20 border border-gray-200 p-1 object-cover"
        />
        <!-- Add an overlay for changing profile photo -->
        <div
          class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 hover:opacity-100 transition duration-300"
        >
          <button class="text-white">Change Photo</button>
        </div>
      </div>
    </div>

    <div class="space-y-4">
      <div class="grid grid-cols-2 my-6">
        <div>
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            value="<%=user.username%>"
            class="input-box ml-8"
            readonly
          />
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 my-10">
        <div>
          <label for="email">Email Address</label>
          <input
            type="email"
            name="email"
            id="email"
            value="<%=user.email%>"
            class="input-box ml-2"
            readonly
          />
        </div>
      </div>
      <div class="my-10">
        <label for="mobile">Phone Number</label>
        <input
          type="text"
          name="mobile"
          value="<%=user.mobile %>"
          id="mobile"
          class="input-box ml-1"
          readonly
        />
      </div>
    </div>

    <div class="mt-4">
      <button
        id="editButton"
        class="rounded-lg bg-blue-500 px-4 py-2 text-white my-4"
      >
        Edit Information
      </button>
      <button
        id="saveButton"
        class="rounded-lg bg-blue-500 px-4 py-2 text-white my-4 hidden"
      >
        Save Information
      </button>
    </div>
  </div>
  <!-- ./info -->
</div>

<%- include('../layout/footer') %>



<script>
  const editButton = document.getElementById("editButton");
  const saveButton = document.getElementById("saveButton");
  const usernameInput = document.getElementById("username");
  const emailInput = document.getElementById("email");
  const mobileInput = document.getElementById("mobile");

  let originalUsername = usernameInput.value;
  let originalEmail = emailInput.value;
  let originalMobile = mobileInput.value;

  editButton.addEventListener("click", async () => {
    const editConfirm = await Swal.fire({
      title: "Are you sure you want to edit your profile information?",
      icon: "question",
      showCancelButton: true,
      confirmButtonText: "Yes, edit it!",
      cancelButtonText: "Cancel",
    });
    if (editConfirm.isConfirmed) {
      usernameInput.removeAttribute("readonly");
      emailInput.removeAttribute("readonly");
      mobileInput.removeAttribute("readonly");
      saveButton.classList.remove("hidden");
      editButton.classList.add("hidden");
    }
  });

  saveButton.addEventListener("click", async () => {
    const updatedUsername = usernameInput.value;
    const updatedEmail = emailInput.value;
    const updatedMobile = mobileInput.value;

    if (
      updatedUsername !== originalUsername ||
      updatedEmail !== originalEmail ||
      updatedMobile !== originalMobile
    ) {
      const confirmed = await Swal.fire({
        title: "Are you sure you want to update your profile information?",
        icon: "question",
        showCancelButton: true,
        confirmButtonText: "Yes, update it!",
        cancelButtonText: "Cancel",
      });

      if (confirmed.isConfirmed) {
        const response = await fetch("/account", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            username: updatedUsername,
            email: updatedEmail,
            mobile: updatedMobile,
          }),
        });

        if (response.ok) {
          originalUsername = updatedUsername;
          originalEmail = updatedEmail;
          originalMobile = updatedMobile;

          await Swal.fire({
            title: "Success!",
            text: "Profile information updated successfully!",
            icon: "success",
          });
        } else {
          await Swal.fire({
            title: "Error!",
            text: "Failed to update profile information. Please try again.",
            icon: "error",
          });
        }
      }
    }
  });
</script>
