<%- include('../layout/header') %> 
<%- include('../layout/navbar') %>

<div class="container grid grid-cols-12 items-start gap-6 pt-4 pb-16">
  <%- include('../layout/sidebar') %>

  <div class="col-span-9 shadow-lg rounded px-6 pt-5 pb-7 ">
    <h4 class="text-lg font-medium capitalize mb-4">Profile information</h4>
    <div class="flex ml-10 mb-6">
      <div class="relative">
        <label for="profileImage" class="cursor-pointer">
          <%if(user.profileImage && user.profileImage.data){%>
            <img
            id="profileImagePreview"
            src="data:image/jpg;base64, <%= user.profileImage.data.toString('base64') %>"
            alt="profile"
            class="rounded-full w-40 h-40 border border-gray-200 p-1 object-cover"
          />
        <% }else{%>
          <img
          id="profileImagePreview"
          src="https://t3.ftcdn.net/jpg/06/11/37/54/360_F_611375400_KdJYN9oP4YL9O6c2oAS5t9ycoRZu4TdL.jpg"
          alt="profile"
          class="rounded-full w-40 h-40 border border-gray-200 p-1 object-cover"
        />
       <% }%>
          <div
            class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 hover:opacity-100 transition duration-300"
          >
            <button class="text-white" onclick="triggerFileInput()">Change Photo</button>
          </div>
        </label>
        <input type="file" id="profileImage" class="hidden" accept="image/*" onchange="handleImageChange(event)">
      </div>
    </div>
    




    <div class="space-y-4">
      <div class="grid grid-cols-2 my-6">
        <div>
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            value="<%=user.username%>"
            class="input-box ml-8"
            readonly
          />
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 my-10">
        <div>
          <label for="email">Email Address</label>
          <input
            type="email"
            name="email"
            id="email"
            value="<%=user.email%>"
            class="input-box ml-2"
            readonly
          />
        </div>
      </div>
      <div class="my-10">
        <label for="mobile">Phone Number</label>
        <input
          type="number"
          name="mobile"
          value="<%=user.mobile %>"
          id="mobile"
          class="input-box ml-1"
          readonly
        />
      </div>
      <div class="my-10">
        <label for="mobile">referalCode</label>
        <input
          type="text"
          name="referalCode"
          value="<%=user.referalCode %>"
          id="referalCode"
          class="input-box ml-1"
          readonly
        />
      </div>
    </div>

    <div class="mt-4">
      <button
        id="editButton"
        class="rounded-lg bg-blue-500 px-4 py-2 text-white my-4"
      >
        Edit Information
      </button>
      <button
        id="saveButton"
        class="rounded-lg bg-blue-500 px-4 py-2 text-white my-4 hidden"
      >
        Save Information
      </button>
    </div>
  </div>
</div>

<%- include('../layout/footer') %>



<script>
  const editButton = document.getElementById("editButton");
  const saveButton = document.getElementById("saveButton");
  const usernameInput = document.getElementById("username");
  const emailInput = document.getElementById("email");
  const mobileInput = document.getElementById("mobile");

  let originalUsername = usernameInput.value;
  let originalEmail = emailInput.value;
  let originalMobile = mobileInput.value;

  editButton.addEventListener("click", async () => {
    const editConfirm = await Swal.fire({
      title: "Are you sure you want to edit your profile information?",
      icon: "question",
      showCancelButton: true,
      confirmButtonText: "Yes, edit it!",
      cancelButtonText: "Cancel",
    });
    if (editConfirm.isConfirmed) {
      usernameInput.removeAttribute("readonly");
      emailInput.removeAttribute("readonly");
      mobileInput.removeAttribute("readonly");
      saveButton.classList.remove("hidden");
      editButton.classList.add("hidden");
    }
  });

  saveButton.addEventListener("click", async () => {
    const updatedUsername = usernameInput.value;
    const updatedEmail = emailInput.value;
    const updatedMobile = mobileInput.value;

    if (
      updatedUsername !== originalUsername ||
      updatedEmail !== originalEmail ||
      updatedMobile !== originalMobile
    ) {
      const confirmed = await Swal.fire({
        title: "Are you sure you want to update your profile information?",
        icon: "question",
        showCancelButton: true,
        confirmButtonText: "Yes, update it!",
        cancelButtonText: "Cancel",
      });

      if (confirmed.isConfirmed) {
        const response = await fetch("/account", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            username: updatedUsername,
            email: updatedEmail,
            mobile: updatedMobile,
          }),
        });

        if (response.ok) {
          originalUsername = updatedUsername;
          originalEmail = updatedEmail;
          originalMobile = updatedMobile;

          await  showToast('Profile information updated successfully!','success')
        } else {
          await  showToast('Failed to update profile information. Please try again','error')
        }
      }
    }
  });
</script>

<script>
  function triggerFileInput() {
    document.getElementById('profileImage').click();
  }

  async function handleImageChange(event) {
    const fileInput = event.target;
    const file = fileInput.files[0];

    if (file) {
      const formData = new FormData();
      formData.append('image', file);

      try {
        const response = await fetch('/uploadProfileImage', {
          method: 'POST',
          body: formData,
        });

        const data = await response.json();

        if (data.success) {
          showToast('Profile Image Uploaded!','success')
         .then(() => {
            location.reload();
          });
        } else {
          showToast('Failed to Upload Profile Image','error')
        }
      } catch (error) {
        showToast('Failed to Upload Profile Image','error')
      }
    }
  }
</script>