<%- include('../layout/header') %> <%- include('../layout/navbar') %>

<!-- account wrapper -->
<div class="container grid grid-cols-12 items-start gap-6 pt-4 pb-16">
 

  <%- include('../layout/sidebar') %>


<div class="col-span-9 grid grid-cols-3 gap-4">
    <div class="col-span-1">
        <a href="/addaddress"><button class="rounded-lg shadow-lg bg-blue-500 px-4 py-2  text-white my-4">Add new Address</button></a>
    </div>
   
<% Address.forEach((value)=>{  %> 
    <div class="col-span-4 shadow-lg " id="<%=value._id%>">
        <div class="shadow rounded bg-white p-6 relative">
            <div class="flex items-center justify-between mb-4">
                <h3 class="font-medium text-gray-800 text-lg"></h3>
                <div class="relative group">
                    <div class="cursor-pointer" onclick="toggleDropdown('<%=value._id%>')">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                            class="h-6 w-6 text-gray-600">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M19 9l-7 7-7-7"></path>
                        </svg>
                    </div>
                    <div id="dropdownMenu<%=value._id%>" class="absolute hidden bg-white border shadow-lg rounded-md right-0 mt-2 space-y-2">
                        <a href="/editaddress/<%=value._id%>" class="block px-4 py-2 text-gray-700">Edit</a>
                        <button onclick="deleteAddress('<%=value._id%>')" class="block px-4 py-2 text-red-600">Delete</button>
                    </div>
                </div>
            </div>
            <div class="space-y-2">
                <div class="pb-4 mb-4 flex flex-col md:flex-row md:items-center">
                    <p class="text-gray-700 font-medium mr-2"><%=value.username%></p>
                    <p class="text-gray-800"><%=value.mobile%></p>
                </div>
                <div class="pb-4 mb-4 flex flex-col md:flex-row md:items-center">
                    <p class="text-gray-800"><%=value.address%></p>
                    <p class="text-gray-800 ml-2"><%=value.city%></p>
                    <p class="text-gray-800 ml-2"><%=value.district%></p>
                    <p class="text-gray-800 ml-2 font-medium"><%=value.postcode%></p>
                </div>
            </div>
        </div>
    </div>

    <% })%>


</div>

</div>


<!-- ./info -->
</div>
<%- include('../layout/footer') %>

<script>
    function toggleDropdown(addressId) {
        var dropdownMenu = document.getElementById('dropdownMenu'+addressId);
        dropdownMenu.classList.toggle('hidden');
    }
</script>

<script>
    function deleteAddress(addressId) {
        fetch(`/deleteAddress/${addressId}`, {
            method: 'POST',
        })
        .then(response => {
            if (response.ok) {
const addresstab=document.getElementById(addressId)
addresstab.remove()
                showToast('Address Deleted!','success');

            } else {
                console.error('Error deleting address:', response.status);
                showToast('Error in Deleting Address !','error');
            }
        })
        .catch(error => {
            console.error('Error deleting address:', error);
        });

    }
    
</script>
