<%- include('../layout/header') %> 
<%- include('../layout/navbar') %>

<div class="container grid grid-cols-12 items-start gap-6 pt-4 pb-16">

  
  <%- include('../layout/sidebar') %>


  <form action="/changepassword" method="post" class="col-span-8">
 <div class="col-span-5 shadow-lg rounded px-6 pt-5 pb-7">
    <h4 class="text-lg font-medium capitalize mb-4">Edit Password</h4>
    <div class="space-y-4">
      <% if (messages.error) { %>
        <div class="alert alert-danger text-red-500">
            <%= messages.error %>
        </div>
    <% } %>
      <div class="grid grid-cols-2 my-6">
        <div>
          <label for="username">Current Password</label>
          <input
            type="text"
            name="oldpassword"
            id="oldpassword"
            class="input-box ml-9"
          />
        </div>
      </div>
      <div class="grid grid-cols-2 gap-4 my-10">
        <div>
          <label for="password">Enter New Password</label>
          <input type="password" name="password" id="password" class="input-box ml-4" />
        </div>
      </div>
      <div class="my-10">
        <label for="confirmpassword">Confirm Password</label>
        <input type="password" name="confirmpassword" id="confirmpassword" class="input-box ml-8" />
      </div>
    </div>

    <div class="mt-4">
      <button class="rounded-lg bg-blue-500 px-4 py-2 text-white my-4">
        Save 
      </button>
    </div>
  </div>
</form>
</div>


<!-- ./info -->
<%- include('../layout/footer') %>
<%- include('../layout/footerui') %>
