<%- include('../layout/header') %> 
<%- include('../layout/navbar') %>
<div class="container p-12 mx-auto">
  <div >
    <a href="/addaddress"><button class="rounded-lg shadow-lg bg-blue-500 px-4 py-2  text-white">Add new Address</button></a>
</div>
<div >
  <h2 class="text-xl font-bold">Select Address</h2>
</div>

  <div class="flex h-96 flex-col w-full px-0 mx-auto md:flex-row">
    
    <%if(!address){%>
    <div class="flex flex-col md:w-full">
      <h2 class="mb-4 font-bold md:text-xl text-heading">Shipping Address</h2>
      <form class="justify-center w-full mx-auto" method="post" >
        <div class="">
          <div class="space-x-0 lg:flex lg:space-x-4">
            <div class="w-full lg:w-full">
              <label
                for="username"
                class="block mb-3 text-sm font-semibold text-gray-500"
                >Username</label
              >
              <input
                name="username"
                type="text"
                placeholder="Username"
                class="w-full px-4 py-3 text-sm border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600"
              />
            </div>
          </div>

          <div class="mt-4">
            <div class="w-full">
              <label
                for="mobile"
                class="block mb-3 text-sm font-semibold text-gray-500"
                >Phone Number</label
              >
              <input
                name="mobile"
                type="number"
                placeholder="Phone NUmber"
                class="w-full px-4 py-3 text-sm border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600"
              />
            </div>
          </div>

          <div class="mt-4">
            <div class="w-full">
              <label
                for="Email"
                class="block mb-3 text-sm font-semibold text-gray-500"
                >Email</label
              >
              <input
                name="Last Name"
                type="text"
                placeholder="Email"
                class="w-full px-4 py-3 text-sm border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600"
              />
            </div>
          </div>
          <div class="mt-4">
            <div class="w-full">
              <label
                for="Address"
                class="block mb-3 text-sm font-semibold text-gray-500"
                >Address</label
              >
              <textarea
                class="w-full px-4 py-3 text-xs border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600"
                name="Address"
                cols="20"
                rows="4"
                placeholder="Address"
              ></textarea>
            </div>
          </div>
          <div class="space-x-0 lg:flex lg:space-x-4">
            <div class="w-full lg:w-1/2">
              <label
                for="city"
                class="block mb-3 text-sm font-semibold text-gray-500"
                >City</label
              >
              <input
                name="city"
                type="text"
                placeholder="City"
                class="w-full px-4 py-3 text-sm border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600"
              />
            </div>
            <div class="w-full lg:w-1/2">
              <label
                for="postcode"
                class="block mb-3 text-sm font-semibold text-gray-500"
              >
                Postcode</label
              >
              <input
                name="postcode"
                type="text"
                placeholder="Post Code"
                class="w-full px-4 py-3 text-sm border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600"
              />
            </div>
          </div>

          <div class="space-x-0 lg:flex lg:space-x-4">
            <div class="w-full lg:w-1/2">
              <label
                for="district"
                class="block mb-3 text-sm font-semibold text-gray-500"
                >District</label
              >
              <input
                name="district"
                type="text"
                placeholder="district"
                class="w-full px-4 py-3 text-sm border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600"
              />
            </div>
            <div class="w-full lg:w-1/2">
              <label
                for="state"
                class="block mb-3 text-sm font-semibold text-gray-500"
              >
                State</label
              >
              <input
                name="state"
                type="text"
                placeholder="State"
                class="w-full px-4 py-3 text-sm border border-gray-300 rounded lg:text-sm focus:outline-none focus:ring-1 focus:ring-blue-600"
              />
            </div>
          </div>

          <div class="mt-4">
            <button
              class="w-full px-6 py-2 text-white bg-blue-500 shadow-lg hover:bg-blue-600 rounded-lg"
            >
              Place Order
            </button>
          </div>
        </div>
    </div>
    <%}%> 
  </form>
  
    <div class=" w-full shadow-lg address overflow-y-auto max-h-80">
      
      
           <form id="addressOption"> 
    <% address.forEach((value, index) => { %>
    <div class="shadow-lg  mt-4">
      <div class="shadow rounded bg-white p-6">
        <div class="mt-4">
          <input
            type="radio"
            id="address_<%= value._id %>"
            name="selectedAddress"
            value="<%= index %>" checked
          />
          <label for="address<%= index %>" class="ml-2"
            >Select this address</label
          >
        </div>

        <div class="flex items-center justify-between mb-4">
          <h3 class="font-medium text-gray-800 text-lg"></h3>
          <a href="/editaddress/<%=value._id%>" class="text-primary">Edit</a>
        </div>
        <div class="space-y-2">
          <div class="pb-4 mb-4 flex flex-col md:flex-row md:items-center">
            <p class="text-gray-700 font-medium mr-2"><%= value.username %></p>
            <p class="text-gray-800"><%= value.mobile %></p>
          </div>
          <div class="pb-4 mb-4 flex flex-col md:flex-row md:items-center">
            <p class="text-gray-800"><%= value.address %></p>
            <p class="text-gray-800 ml-2"><%= value.city %></p>
            <p class="text-gray-800 ml-2"><%= value.district %></p>
            <p class="text-gray-800 ml-2 font-medium"><%= value.postcode %></p>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
</div>
</form>
    <div class="flex border-l  flex-col w-full ml-0 lg:ml-12 lg:w-2/5 mr-0">      
      <div class="pt-12 md:pt-0 2xl:ps-4 ml-20">
        <div class="py-2">
          <label for="coupen" class="font-semibold inline-block mb-3 text-sm uppercase">Promo Code</label>
          <input  type="text"  id="coupen"  placeholder="Enter your code"  class="p-2 text-sm w-full"  />
        </div>
        <a href="/coupen"><button class="bg-red-500 hover:bg-red-600 px-5 py-2 text-sm text-white uppercase"> Show Coupens</button></a>

        <button class="bg-red-500 hover:bg-red-600 px-5 py-2 text-sm text-white uppercase" onclick="applyCoupen()">Apply</button>
        <div class="flex p-4 mt-4">
          <h2 class="text-xl font-bold">ITEMS <%=cartData.length%></h2>
        </div>
        <div
          class="flex items-center w-full py-4 text-sm font-semibold border-b border-gray-300 lg:py-5 lg:px-3 text-heading last:border-b-0 last:text-base last:pb-0"
        >
          TOTAL COST<span class="ml-2">&#8377; <%=totalAmount%></span>
        </div>
        <div 
          class="flex items-center w-full py-4 text-sm font-semibold border-b border-gray-300 lg:py-5 lg:px-3 text-heading last:border-b-0 last:text-base last:pb-0"
        >DISCOUNT<span class="ml-2"><p id="discount">&#8377; 
          <script>
            var totalAmount = '<%= totalAmount %>';
            var grandTotal = '<%= user.grandTotal %>';
            var discount = totalAmount - grandTotal;
            document.write(discount);
          </script>
        </p></span>
        </div>
        <div
          class="flex items-center w-full py-4 text-sm font-semibold border-b border-gray-300 lg:py-5 lg:px-3 text-heading last:border-b-0 last:text-base last:pb-0"
        >
          TOTAL<span class="ml-2"><p id="grandTotal">&#8377; <%=user.grandTotal%></p></span>
        </div>
        <%if(address){%>
        <div class="mt-4">
         <a onclick="checkOut()"><button
            class="w-full px-6 py-2 text-white bg-blue-500 shadow-lg hover:bg-blue-600 rounded-lg">Place Order</button></a> 
        </div>
        <%}%>
      </div>
    </div>
    
  </div>

  <div >
    <h2 class="text-xl font-bold mb-4">Select Payment Option</h2>
  </div>
<form id="paymentOption">
<div>
  <div class="mt-8">
    <div class=" space-y-4 payment">
      <div class="w-full md:w-1/2 px-4 py-4 shadow-lg rounded-md">
        <input type="radio" id="payment-razorpay" name="payment" value="razorpay" >
        <label for="payment-razorpay" class="ml-2 text-sm text-gray-700">Razorpay</label>
      </div>
  
      <div class="w-full md:w-1/2 px-4 py-4 shadow-lg rounded-md">
        <input type="radio" id="payment-cod" name="payment" value="cod" checked>
        <label for="payment-cod" class="ml-2 text-sm text-gray-700">Cash on Delivery</label>
        
      </div>
  
      <div class="w-full md:w-1/2 px-4 py-4 shadow-lg rounded-md">
        <input type="radio" id="payment-wallet" name="payment" value="wallet">
        <label for="payment-wallet" class="ml-2 text-sm text-gray-700">Wallet</label>
   
      </div>
    </div>
  </div>
  
</div>
</form>



  <div>

  </div>

</div>
<%- include('../layout/footer') %>


<script>
  async function checkOut() {
    try {
      const address = document.getElementById(`addressOption`);
      const payment = document.getElementById("paymentOption");

      const selectedPaymentOption = payment.querySelector(
        'input[name="payment"]:checked'
      ).value;
      const selectedAddrerssOption = address.querySelector(
        'input[name="selectedAddress"]:checked'
      ).value;

      const data = {
        address: selectedAddrerssOption,
        payment: selectedPaymentOption,
        totalPrice:totalAmount
      };
      const stockCheckResponse = await fetch("/checkStock", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      });

      const stockCheckResult = await stockCheckResponse.json();
      const grandTotalElement = document.getElementById("grandTotal");
      const grandTotalValue = grandTotalElement.textContent.trim();

      if (stockCheckResult.success) {
        if (selectedPaymentOption == "razorpay") {
          
          var orderId;
          $(document).ready(function () {
            var settings = {
              url: "/razorPay",
              method: "POST",
              timeout: 0,
              headers: {
                "Content-Type": "application/json",
              },
              data: JSON.stringify({
                amount: grandTotal,
              }),
            };
            $.ajax(settings).done(function (response) {
              console.log(response);
              orderId = response.orderId;
              console.log(orderId);
              $("button").show();
            });
          });

          var options = {
            key: "rzp_test_267SWOvtmQRkZI",
            amount: grandTotal * 100, 
            currency: "INR",
            name: "ElectroniX",
            description: "Test Transaction",
            image: "https://example.com/your_logo",
            order_id: orderId, 
            handler:async function  (response) {
              showToast("Payment Successfull", "success");
              const orderResponse = await fetch(`/placeOrder/?address=${selectedAddrerssOption}&&payment=${selectedPaymentOption}`,
            {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ data }),
            }
          );

          const orderData = await orderResponse.json();
          Swal.fire({
            title: "Order Placed!",
            text: "Good job!",
            icon: "success",
          }).then(() => {
            window.location.href = "/orderSuccess";
          });

            },
            prefill: {
              name: "Gaurav Kumar",
              email: "gaurav.kumar@example.com",
              contact: "9000090000",
            },
            notes: {
              address: "Razorpay Corporate Office",
            },
            theme: {
              color: "#3399cc",
            },
          };
          var rzp1 = new Razorpay(options);
          rzp1.open();
        } else if (selectedPaymentOption == "cod") {
          const orderResponse = await fetch(`/placeOrder/?address=${selectedAddrerssOption}&&payment=${selectedPaymentOption}`,
            {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ data }),
            }
          );
          const orderData = await orderResponse.json();
          Swal.fire({
            title: "Order Placed!",
            text: "Good job!",
            icon: "success",
          }).then(() => {
            window.location.href = "/orderSuccess";
          });
        } else {
          console.log("Wallet");
        }
      } else {
        showToast("Insufficient stock for product", "error");
      }
    } catch (error) {
      console.error("Error:", error);
    }
  }
</script>


<script>

async function applyCoupen() {
    const coupenCode = document.getElementById("coupen").value;
    try {
        const response = await fetch('/applyCoupen', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ code: coupenCode }),
        });
        if (response.status === 400) {
            await showToast('Coupon Already Used!', 'error');
        }else{
          const data  =await response.json()
          if (data.success) {
            console.log(data);
            const discountField = document.getElementById("discount");
            const grandTotal=document.getElementById("grandTotal");
            discountField.innerHTML = `-${data.discount}`;
            grandTotal.innerHTML= `${data.total}`
            showToast("Coupon Applied!", 'success');
        } else {
            showToast('Coupen is Expired', 'error');
        }
      }
      } catch (error) {
        console.error('Error during fetch:', error);
    }
}

</script>