<%- include('../layout/header') %> <%- include('../layout/navbar') %>

<div class="container grid grid-cols-12 items-start gap-6 pt-4 pb-16">
  <%- include('../layout/sidebar') %>
  <div class="col-span-9 shadow-lg rounded px-6 pt-5 pb-7">
    <%coupen.forEach((value)=>{%>
    

<div class="bg-white mt-3 rounded-lg shadow-md p-4 relative">
    <div class="flex items-center justify-between">
      <div class="text-xl font-bold text-black"><%=value.couponName%></div>
    </div>
    <p class="mt-2 text-gray-700"><%=value.description%></p>
    <div class="text-sm mt-3 text-gray-500">
      Valid till <%=value.expaireDate.toLocaleDateString()%>
    </div>
      <div class="mt-3 flex items-center">
      <div class="mr-2 text-gray-500">Coupon Code: <%=value.code%></div>
      <button onclick="copyToClipboard('<%=value.code%>')" class="bg-blue-500 text-white px-2 py-1 rounded-md">Copy</button>
    </div>
  </div>
  
    <%})%>
  </div>
</div>

<%- include('../layout/footer') %>
<%- include('../layout/footerui') %>

<script>
 function copyToClipboard(text) {
  navigator.clipboard.writeText(text)
    .then(() => showToast('Coupon code copied to clipboard!','success'))
    .catch((err) => showToast('Unable to copy to clipboard', 'error'));
}
  </script>
  