<%- include('../layout/header') %>

<section class="bg-gradient-to-br from-white to-blue-100">
  <div class="min-h-screen mx-auto py-5">
    <div class="flex items-center min-h-screen justify-center">
      <div class="w-full lg:w-4/5 px-4"> <div class="bg-white shadow-md rounded-lg px-4 py-5">
          <div class="flex items-center justify-between mb-4">
            <h1 class="text-2xl font-bold">Thank you for your Order, <span class="text-blue-500"><%= order[0].deliveryAddress[0].username %></span>!</h1>
           </div>


            
          <div class="space-y-4">
            <% order[0].products.forEach(elements => { %>
              <div class="flex items-center justify-between">
                <div class="flex-1">
                  <img class="w-24 h-24 object-cover rounded-md" src="data:<%= elements.product.images[0].contentType %>;base64,<%= elements.product.images[0].data.toString('base64') %>" alt="">
                  <div class="ml-4">
                    <p class="text-sm font-medium text-gray-900"><%= elements.product.brandname%> <%= elements.product.varientname%></p>
                  </div>
                </div>
                <div class="flex items-center">
                  <p class="text-sm font-medium text-gray-900">₹<%= elements.product.price %></p>
                  <p class="ml-2 text-sm text-gray-500">Qty: <%= elements.quantity %></p>
                </div>
              </div>
              <% }) %>
            </div>
            <div class="mt-8 w-full rounded-md  p-4">
              <ul class="mt-4 text-gray-600 list-none">
                <li>Order ID: <span class="font-semibold">  <%=order[0].orderId%></span></li>
                <li>Date Ordered: <span class="font-semibold">  <%=order[0].orderDate%></span></li>
                <li>Payment method: <span class="font-semibold">  <%=order[0].paymentMethod%></span></li>
                <li><a href="/orderlist"><span class="font-semibold text-blue-500">View Your Current Order At Order History</span></a></li>
              </ul>
            </div>
            <div class="mt-8 flex flex-col items-start w-full">
              <div class="mt-4 rounded-md p-4 bg-gray-100 shadow-sm">
                <h2 class="text-gray-700 font-semibold">Delivery address</h2>
                <p class="text-gray-600"><%= order[0].deliveryAddress[0].username%></p>
                <p class="text-gray-600"><%= order[0].deliveryAddress[0].address %></p>
                <p class="text-gray-600"><%= order[0].deliveryAddress[0].mobile%></p>
              </div>
            </div>
            
            <div class="flex items-center mt-5 justify-between">
              <div class="flex items-center">
                <a href="/products" class="px-4 py-2 rounded-md bg-gray-200 hover:bg-blue-500 hover:text-white">Continue Shopping</a>
              </div>
              <p class="text-xl font-bold">Total: &#8377; <%=order[0].grandTotal%></p>
            </div>
        </div>
        
      </div>
    </div>
  </div>
</section>


<%- include('../layout/footer') %>
