<%- include('../layout/header') %> <%- include('../layout/navbar') %>
<div class="container grid grid-cols-12 items-start gap-6 pt-4 pb-16">
  <%- include('../layout/sidebar') %>

  <div class="col-span-9 container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">Wallet</h1>
    <div class="shadow-lg px-4 py-4">
      <div class="flex justify-between items-center mt-4">
        <div class="text-2xl font-bold">Wallet balance</div>
        <div class="text-xl font-bold">&#8377; <%=user.wallet%></div>
      </div>
      <div class="flex justify-between items-center mt-4">
        <p class="text-blue-500 mt-5"> Wallet History</p>
      </div>
      <% walletHistorySubset.forEach((value)=>{  %>

<div class="container mx-auto p-4 shadow-lg">
  <div class="overflow-x-auto">
    <table class="table-auto w-full">
      <thead>
        <tr>
          <th class="px-4 py-2 text-start w-1/4">Description</th> <th class="px-4 py-2 text-start w-1/5">Amount</th>   <th class="px-4 py-2 text-start w-1/5">Date</th>     <th class="px-4 py-2 text-start w-1/5">Payment Method</th> </tr>
      </thead>
      <tbody>
        <tr class="even:bg-gray-100">
          <td class="px-4 py-2 text-start"><%= value.message %></td>
          <% if (value.message === 'Buy a product') { %>
            <td class="px-4 py-2 text-start text-red-500">₹ <%= value.amount %></td> <% } else { %>
            <td class="px-4 py-2 text-start text-green-500">₹ <%= value.amount %></td> <% } %>
          <td class="px-4 py-2 text-start"><%= value.date.toLocaleDateString() %></td> <td class="px-4 py-2 text-start"><%= value.paymentMethod %></td> </tr>
      </tbody>
    </table>
  </div>
</div>

        
      <% })%>
    </div>

    <div class="pagination mt-4">
      <% for (let i = 1; i <= totalPages; i++) { %>
          <a href="/wallet?page=<%= i %>" class="px-3 py-1 mx-1 rounded-md <%= currentPage == i ? 'bg-blue-500 text-white' : 'bg-gray-200 text-gray-700' %>">
              <%= i %>
          </a>
      <% } %>
    </div>


  </div>
</div>

<%- include('../layout/header') %>
<%- include('../layout/footerui') %>
