<%- include('../componants/header') %>
<div class="flex h-screen bg-gray-50  dark:bg-gray-900">
  <aside
  class="h-screen w-64 overflow-y-auto bg-white dark:bg-gray-800 md:block flex-shrink-0"
>
  <div class="py-4 text-gray-500 dark:text-gray-400">
    <a class="ml-6 text-lg font-bold text-gray-800 dark:text-gray-200" href="#">
      ElectroniX
    </a>
    <ul class="mt-6">
      <li class="relative px-6 py-3">
       
        <a   class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"

          href="/admin/dashboard"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
            ></path>
          </svg>
          <span class="ml-4">Dashboard</span>
        </a>
      </li>
    </ul>
    <ul>
      <li  class="relative px-6 py-3">
        <a 
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
          href="/admin/userlist"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
            ></path>
          </svg>
          <span class="ml-4">Users</span>
        </a>
      </li>

      <li class="relative px-6 py-3">
        <a 
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
          href="category"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
            ></path>
          </svg>
          <span class="ml-4">Categories & Brands</span>
        </a>
      </li>



      <li class="relative px-6 py-3">
        <a
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
          href="/admin/products"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
            ></path>
          </svg>
          <span class="ml-4">Products</span>
        </a>
      </li>

     
      <li class="relative px-6 py-3">
        <a 
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
          href="/admin/orderlist"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
            ></path>
          </svg>
          <span class="ml-4">Orders</span>
        </a>
      </li>
      <li class="relative px-6 py-3">
        <span
        class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg"
        aria-hidden="true"
      ></span>
        <a    class="inline-flex items-center w-full text-sm font-semibold text-gray-800 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 dark:text-gray-100"

          href="/admin/coupens"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
            ></path>
          </svg>
          <span class="ml-4">Coupens</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
  <div class="flex flex-col flex-1  w-full">
    <%- include('../componants/navbar') %> 
    <main class="h-full overflow-y-auto ">
        <div class="container px-6 mx-auto grid" id="dataContainer">        
          <h1 class="text-2xl font-semibold mb-4 mt-10 text-white">Coupens</h1>
          <span class="mb-3 right-0">
            <a href="/admin/addcoupen">
              <button
                class="inline-block pl-2 pr-4 py-2 mr-2 bg-gray-800 hover:bg-gray-900 rounded font-semibold text-white"
              >
                <svg
                  class="float-left w-6 h-6 fill-current mr-2"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 100 100"
                >
                  <g>
                    <rect x="35" y="30" width="40" height="8" />
                    <rect x="50" y="15" width="8" height="40" />
                  </g>
                </svg>
                Add Coupen
              </button>
            </a>
          </span>
      
          <div class="container mx-auto p-4">

              <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-1 gap-4">
                <%coupen.forEach((value)=>{%>


                  <div class="bg-white rounded-lg shadow-md p-4 relative" id="remove<%=value._id%>">
                    <div class="flex items-center justify-between">
                      <div class="text-xl font-bold text-black"><%=value.couponName%></div>
                      <div class="flex space-x-2"> 
                        <a href="/admin/editcoupen/<%=value._id%>">
                        <button
                          class="relative z-10 p-2 rounded-full hover:bg-gray-200 focus:outline-none">
                          Edit
                        </button>
                      </a>
                        <button id="delete<%=value._id%>"
                          class="relative z-10 p-2 rounded-full hover:bg-gray-200 focus:outline-none "
                          onclick="deleteCoupon('<%=value._id%>')"
                        >
                          Delete
                        </button>
                      </div>
                    </div>
                    <p class="mt-2 text-gray-700"><%=value.description%></p>
                    <div class="text-sm mt-3 text-gray-500">Valid till <%=value.expaireDate%></div>
                  </div>
                  
                <%})%>

              </div>
              
          
              </div>
          </div>                   
        </div>
      </main>
</div>
</div>

<%- include('../componants/footer') %>

<script>
 
function deleteCoupon(id) {
    const deletebtn = document.getElementById(`delete${id}`)
    const remove =document.getElementById(`remove${id}`)
    try {
        deletebtn.addEventListener("click", async () => {
            const delcoupen = await Swal.fire({
                title: "Are you sure you want to Delete your Coupon?",
                icon: "question",
                showCancelButton: true,
                confirmButtonText: "Yes, Delete it!",
                cancelButtonText: "Cancel",
            })
            if (delcoupen.isConfirmed) {
                const data =await fetch(`/admin/deleteCoupen/${id}`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                })
                if (data.ok) {
                    showToast('SuccessFully deleted ', 'success')
remove.remove()
                } else {
                    showToast('Error in Deletion', 'error')
                }
              }
              
        })

    } catch (error) {
      return res.redirect('/500')
    }
}

</script>