<%- include('../componants/header') %>
<div class="flex h-screen bg-gray-50  dark:bg-gray-900">
  <aside
  class="h-screen w-64 overflow-y-auto bg-white dark:bg-gray-800 md:block flex-shrink-0"
>
  <div class="py-4 text-gray-500 dark:text-gray-400">
    <a class="ml-6 text-lg font-bold text-gray-800 dark:text-gray-200" href="#">
      ElectroniX
    </a>
    <ul class="mt-6">
      <li class="relative px-6 py-3">
       
        <a   class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"

          href="/admin/dashboard"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
            ></path>
          </svg>
          <span class="ml-4">Dashboard</span>
        </a>
      </li>
    </ul>
    <ul>
      <li  class="relative px-6 py-3">
        <a 
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
          href="/admin/userlist"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
            ></path>
          </svg>
          <span class="ml-4">Users</span>
        </a>
      </li>

      <li class="relative px-6 py-3">
        <a 
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
          href="category"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
            ></path>
          </svg>
          <span class="ml-4">Categories & Brands</span>
        </a>
      </li>



      <li class="relative px-6 py-3">
        <a
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
          href="/admin/products"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
            ></path>
          </svg>
          <span class="ml-4">Products</span>
        </a>
      </li>

      
      <li class="relative px-6 py-3">
        <a 
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
          href="/admin/orderlist"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
            ></path>
          </svg>
          <span class="ml-4">Orders</span>
        </a>
      </li>
      <li class="relative px-6 py-3">
        <span
        class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg"
        aria-hidden="true"
      ></span>
        <a    class="inline-flex items-center w-full text-sm font-semibold text-gray-800 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 dark:text-gray-100"

          href="/admin/coupens"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
            ></path>
          </svg>
          <span class="ml-4">Coupens</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
  <div class="flex flex-col flex-1  w-full">
    <%- include('../componants/navbar') %> 
    <main class="h-full overflow-y-auto ">
        <div class="container px-6 mx-auto grid" id="dataContainer">        
          <h1 class="text-2xl font-semibold mb-4 mt-10 text-white">Edit Coupen</h1>
          
          <div class="w-1/2 ml-10">

            <div class="mb-6">
                <label for="coupenname" class="block text-sm font-medium text-white">Coupen Name</label>
                <input type="text" id="coupenname" name="coupenname" value="<%=data.couponName%>" class="mt-1 p-2 border border-gray-300 rounded-md w-full">
              </div> 



           
            <div class="  mb-4">
              <label for="discounttype" class="block text-sm font-medium text-white">Discount Type</label>
              <select id="discounttype" name="discounttype" class="mt-1 p-2 rounded-md w-full">
                <option value="Percentage" <%= data.discountType === 'Percentage' ? 'selected' : '' %>>Percentage</option>
                <option value="Amount" <%= data.discountType === 'Amount' ? 'selected' : '' %>>Amount</option>
              </select>
            </select>
            </div>
      
            <div class="mb-4">
                <label for="minpurchase" class="block text-sm font-medium text-white">Minimum Purchase Amount</label>
                <input id="minpurchase" name="minpurchase" value="<%=data.minimumPurchaseAmount%>" type="number" class="mt-1 p-2 border border-gray-300 rounded-md w-full" min="0">
                </div>


              <div class="mb-4">
                <label for="discountamountorpercentage" class="block text-sm font-medium text-white">Discount Amount Or Percentage</label>
                <input id="discountamountorpercentage" name="discountamountorpercentage" value="<%=data.discountAmountOrPercentage%>" type="number" class="mt-1 p-2 border border-gray-300 rounded-md w-full" min="0">
              </div>

              <div class="mb-4">
                <label for="code" class="block text-sm font-medium text-white">Code</label>
                <input id="code" name="code" type="text" value="<%=data.code%>" class="mt-1 p-2 border border-gray-300 rounded-md w-full" min="0">
              </div>



              <div class="relative max-w-sm">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                   <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                    </svg>
                </div>
                <label for="date" class="block text-sm font-medium text-white">Start Date</label>
                <input datepicker datepicker-buttons type="text"  id="startdate" name="startdate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">
              </div>
              


              <div class="relative mt-5 mb-3 max-w-sm">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                   <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                    </svg>
                </div>
                <label for="date" class="block text-sm font-medium text-white">Expire Date</label>
                <input datepicker datepicker-buttons type="text"  id="enddate" name="enddate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">
              </div>





            <!-- Description Input -->
            <div class="mb-4">
              <label for="description" class="block text-sm font-medium text-white">Description</label>
              <textarea id="description" name="description"   rows="2" class="mt-1 p-2 border border-gray-300 rounded-md w-full"></textarea>
            </div>
      
            <!-- Submit Button -->
         
         <a onclick="saveEditCoupen('<%=data._id%>')">  <button type="submit" id="submit" class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-700 cursor-pointer">Submit</button></a>
          </div>
        
          </div>                   
        </div>
    </main>
</div>
</div>

<%- include('../componants/footer') %>
<script>

    function saveEditCoupen(coupeId) {
        const editConfirm = document.getElementById("submit");
        const couponName = document.getElementById("coupenname").value;
        const description = document.getElementById("description").value;
        const discountType = document.getElementById("discounttype").value;
        const minimumPurchaseAmount = document.getElementById("minpurchase").value;
    const discountAmountOrPercentage = document.getElementById("discountamountorpercentage").value;
    const code = document.getElementById("code").value;
    const startDate =document.getElementById("startdate").value
    const expaireDate = document.getElementById("enddate").value;
    
    editConfirm.addEventListener("click", async () => {
        const confirm = await Swal.fire({
            title: "Are you sure you want to update your Coupon?",
            icon: "question",
            showCancelButton: true,
            confirmButtonText: "Yes, update it!",
            cancelButtonText: "Cancel",
        });

        if (confirm.isConfirmed) {
            try {
                const data = await fetch(`/admin/editcoupen/${coupeId}`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        couponName: couponName,
                        description: description,
                        discountType: discountType,
                        minimumPurchaseAmount: minimumPurchaseAmount,
                        discountAmountOrPercentage: discountAmountOrPercentage,
                        code: code,
                        expaireDate: expaireDate,
                        startDate:startDate
                    }),
                });
                if (data.status === 400) {
  console.log('Code already exists');
  await showToast('Coupon Already Exist!', 'error');

  return;
}
                if (data.ok) {
                    console.log('data ok',data)
                    await showToast('Coupon updated successfully!', 'success');
                      window.location.href = '/admin/coupens';
                } else {
                    console.error('Error in Coupon Updation:', data.statusText);
                    await showToast('Error in Coupon Updation!', 'error');
                }
            } catch (error) {
                console.error('Error in fetch:', error);
                await showToast('Error in Coupon Updation!', 'error');
                window.location.href = '/coupens';
            }
        }
    });
}

                </script>