<%- include('../componants/header') %>
<div class="flex h-screen bg-gray-50 dark:bg-gray-900">
  <aside
  class="h-screen w-64 overflow-y-auto bg-white dark:bg-gray-800 md:block flex-shrink-0"
>
  <div class="py-4 text-gray-500 dark:text-gray-400">
    <a class="ml-6 text-lg font-bold text-gray-800 dark:text-gray-200" href="#">
      ElectroniX
    </a>
    <ul class="mt-6">
      <li class="relative px-6 py-3">
        
        <a    class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"

          href="/admin/dashboard"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
            ></path>
          </svg>
          <span class="ml-4">Dashboard</span>
        </a>
      </li>
    </ul>
    <ul>
      <li  class="relative px-6 py-3">
        <a 
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
          href="/admin/userlist"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
            ></path>
          </svg>
          <span class="ml-4">Users</span>
        </a>
      </li>

      <li class="relative px-6 py-3">
        <a 
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
          href="category"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
            ></path>
          </svg>
          <span class="ml-4">Categories & Brands</span>
        </a>
      </li>



      <li class="relative px-6 py-3">
        <span
          class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg"
          aria-hidden="true"
        ></span>
        <a
        class="inline-flex items-center w-full text-sm font-semibold text-gray-800 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 dark:text-gray-100"

          href="/admin/products"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
            ></path>
          </svg>
          <span class="ml-4">Products</span>
        </a>
      </li>

      <li class="relative px-6 py-3">
        <a 
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
          href="/admin/banner"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
            ></path>
          </svg>
          <span class="ml-4">Banner</span>
        </a>
      </li>
      <li class="relative px-6 py-3">
        <a 
          class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
          href="/admin/orderlist"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
            ></path>
          </svg>
          <span class="ml-4">Orders</span>
        </a>
      </li>
    </ul>
  </div>
</aside>


<div class="flex flex-col flex-1 w-full">
    <%- include('../componants/navbar') %> 
    <main class="h-full overflow-y-auto">
        <div class="container px-6 mx-auto grid" id="dataContainer">        
          
      
          <h1 class="text-2xl font-semibold mb-4 text-white">Edit Product</h1>

          <div class="flex mb-4">
            <div class="w-1/3">
              <div class="flex justify-center w-full mx-auto sm:max-w-lg">
                <div class="flex flex-col items-center justify-center w-full h-auto my-20 bg-white sm:w-3/4 sm:rounded-lg sm:shadow-xl">
                  <div class="mt-10 mb-10 text-center">
                    <h2 class="text-2xl  font-semibold mb-2">Upload Pictures</h2>
                  </div>
                  <form action="/admin/editproducts/<%= produtDetail._id %>" method="post" enctype="multipart/form-data"  class="relative w-4/5 h-32 max-w-xs mb-10 bg-gray-100 rounded-lg shadow-inner">
                    <input type="file" id="image" name="images" multiple class="hidden"  >
                    <label for="image" class="z-20 flex flex-col-reverse items-center justify-center w-full h-full cursor-pointer">
                      <p class="z-10 text-xs font-light text-center text-gray-500">Click here to Upload</p>
                      <svg class="z-10 w-8 h-8 text-indigo-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"></path>
                      </svg>
                    </label>

                    <div class="w-full">
                      <div id="image-preview-container" class="flex flex-col items-center justify-center w-full h-auto my-20  sm:w-3/4 sm:rounded-lg">
                        <% produtDetail.images.forEach((image)=>{ %>                      
                          <div id="image-preview_<%= image._id %>" class="w-full h-32 relative object-cover mt-5  rounded-lg">
                            <img src="data:image/jpg;base64, <%= image.data.toString('base64') %>" alt="" srcset="">
                            <div class="delete-overlay absolute top-0 left-0 right-0 bottom-[-20px] flex items-center justify-center opacity-0 transition duration-300 ease-in-out hover:opacity-100">
                              <button type="button" onclick="deleteImage('<%= image._id %>' ,'<%= produtDetail._id %>')" class="bg-red-500 text-white p-2 rounded-md hover:bg-red-700 cursor-pointer">Delete</button>
                            </div>
                          </div>
                          
                        <%})%>
                      </div>
                    </div>
                </div>
              </div>
            </div>
        
            <div class="w-1/2 ml-2">
              <div class="  mb-4">
                <label for="brandname" class="block text-sm font-medium text-white">Brand</label>
                
                <select id="brandname" name="brandname" class="mt-1 p-2 rounded-md w-full">
                    <% brand.forEach(brand => { %>
                      <option value="<%= brand.brandname %>" <% if (produtDetail.brandname === brand.brandname) { %>selected<% } %>>
                        <%= brand.brandname %>                      
                      <% }); %>
              </select>

              </div>
        
              <div class="mb-4">
                <label for="category" class="block text-sm font-medium text-white">Category</label>
              <select id="category" name="category" class="mt-1 p-2 rounded-md w-full">
                <% category.forEach(category => { %>
                  <option value="<%= category.categoryname %>" <% if (produtDetail.categoryname === category.categoryname) { %>selected<% } %>>
                    <%= category.categoryname %>                      
                  <% }); %>
            </select>
              </div>
        
              <div class="mb-4">
                <label for="subcategory" class="block text-sm font-medium text-white">Sub Category</label>
              <select id="subcategory" name="subcategory" class="mt-1 p-2 rounded-md w-full">
                <% subcategory.forEach(category => { %>
                  <option value="<%= category.subcategoryname %>" <% if (produtDetail.subcategoryname === category.subcategoryname) { %>selected<% } %>>
                    <%= category.subcategoryname %>                   
                 <% }); %>
            </select>
              </div>
        



              <div class="mb-6">
                <label for="varientname" class="block text-sm font-medium text-white">Varient Name</label>
                <input type="text" id="varientname" name="varientname" value="<%=produtDetail.varientname %>" class="mt-1 p-2 border border-gray-300 rounded-md w-full">
              </div>    
        
        
              <div class="mb-4">
                <label for="quantity" class="block text-sm font-medium text-white">Quantity</label>
                <input id="quantity" name="quantity" type="number" value="<%= produtDetail.quantity%>" class="mt-1 p-2 border border-gray-300 rounded-md w-full" min="0">
              </div>
        
              <div class="mb-4">
                <label for="price" class="block text-sm font-medium text-white">Price</label>
                <input id="price" name="price" type="number" value="<%= produtDetail.price%>" class="mt-1 p-2 border border-gray-300 rounded-md w-full" min="0">
              </div>
        
        
              <div class="mb-4">
                <label for="description" class="block text-sm font-medium text-white">Description</label>
                <textarea id="description" name="description" rows="3" value="<%= produtDetail.description%>"class="mt-1 p-2 border border-gray-300 rounded-md w-full"></textarea>
              </div>
        
           
              <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-700 cursor-pointer">Submit</button>
            </form>
            </div>
          </div>
        </div>
      </main>
</div>
</div>

<%- include('../componants/footer') %>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    
    function handleFileInputChange(event) {
      const previewContainer = document.getElementById("image-preview");
      previewContainer.innerHTML = ''; 

      
      const files = event.target.files;
      for (let i = 0; i < Math.min(files.length, 10); i++) {
        const file = files[i];
        const reader = new FileReader();
        const previewImage = document.createElement("img");

        reader.onload = function (e) {
          previewImage.src = e.target.result;
          previewImage.classList.add("w-full", "h-32","mt-2", "object-cover", "rounded-md");
          previewContainer.appendChild(previewImage);
        };

        reader.readAsDataURL(file);
      }
    }

    
    const fileInput = document.getElementById("image");
    fileInput.addEventListener("change", handleFileInputChange);
  });
</script>

<script>
  function deleteImage(imageId, productId) {
    const preview = document.getElementById(`image-preview_${imageId}`);

    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!",
    }).then((result) => {
      if (result.isConfirmed) {
        fetch(`/admin/deleteimage/${imageId}/${productId}`, {
          method: "post",
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data);
            preview.remove();
          })
          .catch((error) => {
            console.error("Error deleting image:", error);
          });
      }
    });
  }
</script>