<%- include('../componants/header') %>
<div class="flex h-screen bg-gray-50 dark:bg-gray-900">
  <%- include('../componants/sidebar') %>
  <div class="flex flex-col flex-1 w-full">
    <%- include('../componants/navbar') %>
    <main class="h-full overflow-y-auto">
      <div class="container px-6 mx-auto grid" id="dataContainer">
        <h2
          class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
        >
          Products
        </h2>
        <span class="mb-3 right-0">
          <a href="/admin/addproducts">
            <button
              class="inline-block pl-2 pr-4 py-2 mr-2 bg-gray-800 hover:bg-gray-900 rounded font-semibold text-white"
            >
              <svg
                class="float-left w-6 h-6 fill-current mr-2"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 100 100"
              >
                <g>
                  <rect x="35" y="30" width="40" height="8" />
                  <rect x="50" y="15" width="8" height="40" />
                </g>
              </svg>
              Add Products
            </button>
          </a>
        </span>
        <div class="w-full overflow-x-auto">
          <table class="w-full whitespace-no-wrap">
            <thead>
              <tr
                class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
              >
                <th class="px-4 py-3">Images</th>
                <th class="px-4 py-3">Product</th>
                <th class="px-4 py-3">Quantity</th>
                <th class="px-4 py-3">Price</th>
                <th class="px-4 py-3">Actions</th>
              </tr>
            </thead>

            <tbody
              class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
            >
              <% productList.forEach((value) => { %>
              <tr class="text-gray-700 dark:text-gray-400">
                <td class="px-4 py-3">
                  <div class="flex items-center">
                    <% value.images.forEach((image) => { %>
                    <div class="relative w-8 h-8 mr-2 rounded-full">
                      <img
                        class="object-cover w-full h-full rounded-full"
                        src="data:image/jpg;base64, <%= image.data.toString('base64') %>"
                        alt="Product Image"
                        loading="lazy"
                      />
                    </div>
                    <% }) %>
                  </div>
                </td>

                <td class="px-4 py-3">
                  <div class="flex items-center text-sm">
                    <div>
                      <p class="font-semibold">
                        <%= value.brandname %> <%= value.varientname %>
                      </p>
                      <span><%= value.category %></span>
                    </div>
                  </div>
                </td>
                <td class="px-4 py-3"><%= value.quantity %></td>
                <td><%= value.price %></td>

                <td class="px-4 py-3">
                  <div class="flex items-center space-x-4 text-sm">
                    <a href="/admin/editproducts/<%= value._id %>">
                      <button
                        class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
                      >
                        Edit
                      </button>
                    </a>
                    <div id="toggle">
                      <% if (value.isDelete) { %>
                      <button
                        id="toggleButton_<%= value._id %>"
                        class="w-20 toggleButton px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100"
                      >
                        Undo Delete
                      </button>
                      <% } else { %>
                      <button
                        id="toggleButton_<%= value._id %>"
                        class="w-20 toggleButton px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-red-700 dark:text-green-100"
                      >
                        Delete
                      </button>
                      <% } %>
                    </div>
                  </div>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>

<%- include('../componants/footer') %>

<script>
  document.querySelectorAll(".toggleButton").forEach((button) => {
    button.addEventListener("click", function () {
      const productId = this.id.split("_")[1];
      const confirmationMessage =
        this.innerText === "Delete"
          ? "Are you sure you want to delete this product?"
          : "Are you sure you want to undo delete this product?";
      Swal.fire({
        title: "Confirmation",
        text: confirmationMessage,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#4CAF50",
        cancelButtonColor: "#D9534F",
        confirmButtonText: "Yes",
        cancelButtonText: "Cancel",
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/admin/deleteproduct/${productId}`, {
            method: "post",
          })
            .then(response=>{
              if(response.ok){
               const button =  document.getElementById(`toggleButton_${productId}`)
                if (button.innerText === "Undo Delete") {
                  button.innerText = "Delete";
                  button.style.backgroundColor = "red";
              } else {
                button.innerText = "Undo Delete";
                button.style.backgroundColor = "green";
              }

                
              }
            })

              
            
            .catch((error) => {
              console.error("Error deleting product:", error);
            });
        }
      });
    });
  });
</script>
