<%- include('../componants/header') %>
<div class="flex h-screen bg-gray-50 dark:bg-gray-900">
  <%- include('../componants/sidebar') %>
  <div class="flex flex-col flex-1 w-full">
    <%- include('../componants/navbar') %>
    <main class="h-full overflow-y-auto">
      <div class="container px-6 mx-auto grid" id="dataContainer">
        <h2
          class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
        >
          Users
        </h2>
        <div class="w-full overflow-x-auto">
          <table class="w-full whitespace-no-wrap">
            <thead>
              <tr
                class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
              >
                <th class="px-4 py-3">User</th>
                <th class="px-4 py-3">Status</th>
              </tr>
            </thead>
            <tbody
              class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
            >
              <% userList.forEach((value) => { %>

              <tr class="text-gray-700 dark:text-gray-400">
                <td class="px-4 py-3">
                  <div class="flex items-center text-sm">
                    <!-- Avatar with inset shadow -->
                    <div
                      class="relative hidden w-8 h-8 mr-3 rounded-full md:block"
                    >
                      <img
                        class="object-cover w-full h-full rounded-full"
                        src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=200&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                        alt=""
                        loading="lazy"
                      />
                      <div
                        class="absolute inset-0 rounded-full shadow-inner"
                        aria-hidden="true"
                      ></div>
                    </div>
                    <div>
                      <p class="font-semibold"><%= value.username %></p>
                      <p class="text-xs text-gray-600 dark:text-gray-400">
                        <%= value.mobile %>
                      </p>
                    </div>
                  </div>
                </td>

                <td class="px-4 py-3 text-xs">
                  <% if(value.isBlocked){ %>
                  <button
                    id="toggleButton_<%= value._id %>"
                    class="w-20 toggleButton px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100"
                  >
                    UnBlock
                  </button>
                  <% }else{ %>
                  <button
                    id="toggleButton_<%= value._id %>"
                    class="w-20 toggleButton px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-red-700 dark:text-green-100"
                  >
                    Block
                  </button>
                  <% }%>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>

<%- include('../componants/footer') %>

<script>
  document.querySelectorAll(".toggleButton").forEach((button) => {
    button.addEventListener("click", function () {
      const userId = button.id.split("_")[1];
      const confirmationMessage = button.innerText === "Block"
        ? "Are you sure you want to block this user?"
        : "Are you sure you want to unblock this user?";

      Swal.fire({
        title: 'Confirmation',
        text: confirmationMessage,
        icon: 'question',
        showCancelButton: true,
        confirmButtonColor: '#4CAF50',
        cancelButtonColor: '#D9534F', 
        confirmButtonText: 'Yes',
        cancelButtonText: 'Cancel',
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/admin/userlist/block/${userId}`, {
            method: "post",
          })
            .then((response) => response.json())
            .then((updatedUser) => {
              if (button.innerText === "Block") {
                button.innerText = "UnBlock";
                button.style.backgroundColor = "green";
              } else {
                button.innerText = "Block";
                button.style.backgroundColor = "red";
              }

              console.log("User updated:", updatedUser);
            })
            .catch((error) => {
              console.error("Error toggling user block:", error);
            });
        }
      });
    });
  });
</script>
